<head>
    <meta charset="UTF-8">
    <title>ググる！勉強会！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
</head>
<html>
<body>
    <div class="fixed-bg bg01">
        <h1 id="title-txt">ググる！<p>勉強会</p></h1>
    </div>

    <div class="scroll-bg-1">
        <p id="explain-title">“ググるは、教養”</p>
        <p>こんにちは、今年入学しました殿山です。</p>
        <p>今回、こんな状況であることなどを考え、今この時間を有意義に使おうと思い、</p>
            <p>私どもが主宰する勉強会を立ち上げました。</p>
            <p>今回はzoomとオリジナルテキストを使い、３回に分け<span>Webページを１から構築、公開</span>します。</p>
            <p>第１回では、「HTML、CSS」で画面を作ります。</p>
            <p>全学年を対象にしていますが、特に、１年生におすすめです。</p>
            <p>ぜひ参加しませんか？</p>
    </div>

    <div class="fixed-bg bg02">
        <h1>日程：５/６から</h1>
        <div id="date-ex">進度によって変更あり</div>
    </div>
</body>
</html>